@media (max-width: 630px) {
  .container {
    width: 344px;
  }
  h1 {
    font-size: 36px;
    width: 292px;
    margin: 0;
    text-align: center;
    line-height: 57px;
    padding-left: 21px;
    letter-spacing: 1.2px;
    padding-top: 3px;
    padding-left: 19px;
  }

  h6 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
  h5 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  header {
    grid-template-columns: 10fr 1fr 1fr;
    grid-template-areas: "logo cart navbar";
  }
  .lupa {
    padding-top: 38px;
    margin-right: -7px;
  }
  .cart {
    padding-left: 2px;
    padding-top: 40px;
    margin-left: 7px;
    margin-right: -5px;
  }
  .icon-lupa {
    width: 24px;
    height: 24px;
  }
  .icon-cart {
    width: 24px;
    height: 22.4px;
  }
  .menu {
    display: none;
  }
  .menu__iteams-mobile {
    background-color: #252b42;
    position: absolute;
    left: 1px;
    top: -29px;
    height: 532px;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    line-height: 74.5px;
    letter-spacing: 0.6px;
    text-align: center;
    list-style: none;
    box-sizing: border-box;
    padding-top: 149px;
    padding-left: 0;
  }

  .menu__iteams-mobile li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    list-style: none;
  }
  div.navbar {
    grid-area: navbar;
  }
  .nav-toggle {
    display: block;
    z-index: 101;

    cursor: pointer;
  }

  .nav-toggle:focus ~ ul.menu__iteams-mobile,
  .nav-toggle:active ~ ul.menu__iteams-mobile,
  .menu__iteams-mobile:hover {
    display: block;
  }

  /* 
.nav-toggle:hover ~ ul.menu__iteams-mobile,

  summary::-webkit-details-marker {
    display: none;
  }
  summary:before {
    content: url("./image/nav.png");
    z-index: 101;
    margin-right: 5px;
  } */

  .menu__iteams-mobile {
    width: 100vw;
    z-index: 100;
  }
  .desctope {
    display: none;
  }
  .mobile {
    display: block;
  }

  .first-page h4 {
    width: 279px;
    text-align: center;
    padding-left: 27px;
    padding-top: 5px;
  }
  .grid__first-page {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .first-page {
    height: 709px;
    background-image: url("./image/backmob.png");
    background-position-y: bottom;
  }
  .first-button {
    margin-left: 77px;
    margin-bottom: 25px;
  }
  .second-button {
    margin-left: 92px;
  }
  .first-page_buttons {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 30px;
  }

  h1,
  h2,
  h3,
  h4 {
    word-wrap: break-word;
  }

  .second-page__blocks {
    grid-template-columns: 328px;
    margin: 0 auto;
    margin-top: 15px;
  }
  .second-page__blocks > div {
    margin: 0;
    margin-bottom: 30px;
  }
  .second-page {
    height: 1442px;
  }
  .second-page__h2 {
    letter-spacing: -0.8px;
    margin-left: 7px;
    width: 245px;
    margin-top: 97px;
  }
  div.second-page__text > p {
    font-size: 15px;
    margin-left: 7px;
    width: 225px;
    letter-spacing: -0.3px;
  }
  .second-page__buttons {
    margin-top: 10px;
  }
  .second-page__first-button {
    margin-left: 2px;
    margin-bottom: 30px;
  }
  .second-page__second-button {
    margin-left: 2px;
  }
  .third-page {
    height: 1493px;
  }
  .grid__third-page {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "h2"
      "text"
      "video"
      "other";
    max-height: 1493px;
    margin: 0 auto;
  }
  .video {
    padding-top: 91px;
  }
  .plyr {
    margin-left: 8px;
    width: 328px;
    height: 442px;
  }
  .plyr__poster {
    background-size: auto;
  }

  .third-page__h2 h2.desctop {
    display: none;
  }
  .third-page__h2 {
    width: 308px;
  }
  .third-page__h2 h2 {
    margin: 0;
  }
  div.third-page__text > p {
    width: 225px;
    margin: 0;
  }
  div.third-page__text {
    margin: 0 auto;
    width: auto;
  }
  .other__h2 h2 {
    padding-top: 40px;
    margin-left: -6px;

    letter-spacing: -0.5px;
  }
  .other__text p {
    margin-left: -8px;
  }
  .other__elem1 h5,
  .other__elem2 h5 {
    margin-left: -5px;
  }
  div.other__elem2 {
    margin-top: -1px;
  }
  .other__elem1 img {
    margin-left: -8px;
    margin-top: 1px;
  }
  .other__elem2 img {
    margin-top: 2px;
    margin-left: -8px;
  }
  div.other__elem1 > h6,
  div.other__elem2 > h6 {
    margin-top: 4px;
    margin-left: -5px;
  }
  .fourth-page {
    height: 1768px;
  }
  .fourth-page .container {
    height: auto;
    width: 352px;
  }
  .grid__fourth-page {
    grid-template-columns: 1fr;
  }
  div.fourth-page__h2 {
    width: 227px;
    margin: 76px auto 0;
  }
  div.fourth-page__text > p {
    width: 262px;
    text-align: center;
  }
  div.fourth-page__cards {
    grid-template-columns: 1fr;
    padding-top: 60px;

    grid-row-gap: 30px;
  }
  div.fourth-page__cards > div {
    width: 325px;
    height: 408px;
    padding: 30px 37px 30px 82px;
  }
  div.fourth-page__cards > div.first-card,
  div.fourth-page__cards > div.second-card,
  div.fourth-page__cards > div.third-card {
    margin-left: 27px;
  }

  div.fourth-page__second-card img {
    left: -26px;
    top: -410px;
  }
  .man_mobile {
    display: inline-block;
    left: -28px;
    top: 28px;
  }
  .second-card__man {
    top: -406px;
  }
  div.fourth-page__third-card img {
    position: absolute;
    left: -27px;
    top: 28px;
  }
  .fourth-page__stars {
    margin-top: 14px;
  }
  div.fourth-page__cards h6 {
    margin-top: -1px;
  }
  .fifth-page {
    height: 1627px;
  }
  .fifth-page > .container {
    height: auto;
    width: auto;
  }
  .grid__fifth-page {
    text-align: center;
  }
  div.grid__fifth-page > h2 {
    padding-top: 76px;
  }
  div.grid__fifth-page > h2 {
    letter-spacing: -0.3px;
  }
  div.grid__fifth-page p {
    width: 262px;
    margin-bottom: 44px;
  }

  div.fifth-page__cards {
    grid-template-columns: 1fr;

    margin-left: -1px;

    grid-row-gap: 30px;
    padding-top: 0px;
  }
  .desctop {
    display: none;
  }
  div.fifth-page__cards > div.first-card,
  div.fifth-page__cards > div.second-card,
  div.fifth-page__cards > div.third-card,
  div.fifth-page__cards > div.fourth-card {
    margin: 0 auto;
    width: 331px;
    height: 291px;
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  div.fifth-page__cards span.mobile {
    margin-top: 29px;
  }
  div.fifth-page__cards > div.second-card {
    width: 329px;
  }
  div.fifth-page__cards h6 {
    margin-top: 6px;
  }
  div.fifth-page__cards h5 {
    margin-top: 6px;
  }
  div.fifth-page__cards p {
    width: 149px;
    margin: 4px auto 0;

    text-align: center;
  }

  .desctope {
    display: none;
  }
  .six-page {
    height: 880px;
  }
  .grid__six-page {
    grid-template-columns: 1fr;
    grid-template-areas: "h2" "text" "img";
  }

  .six-page > .container {
    height: auto;
  }
  .grid__six-page > img {
    width: 313px;
    height: 129px;
    padding-top: 158px;
    padding-left: 13px;
  }
  .grid__six-page > h2 {
    width: 316px;
    margin-top: 24px;
    margin-left: 10px;
  }
  .grid__six-page > p {
    width: 305px;
    margin-left: 12px;
  }
  .seven-page {
    height: 960px;
  }
  .seven-page > .container {
    width: 414px;
  }
  .seven-page__quote-form img {
    width: 414px;
    height: 259px;
  }
  .quote-form {
    grid-template-columns: 1fr;
    top: 0px;
  }
  form {
    width: 414px;
    height: 701px;
  }

  form > input[type="text"],
  form select {
    width: 311px;
  }
  form > input[type="submit"] {
    width: 314px;
  }
  .form__Name {
    margin-top: 40px;
    margin-bottom: 9px;
  }
  .form__Email {
    margin-top: 12px;
    margin-bottom: 10px;
  }
  .form__Department {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .form__Time {
    margin-top: 5px;
    margin-bottom: 12px;
  }
  .eight-page {
    height: 1005px;
  }
  footer > .container {
    height: 907px;
    width: 344px;
  }
  .grid__footer {
    grid-template-columns: 1fr;
    width: auto;
    /*align-items: center;*/
    padding-left: 52px;
  }
  .quickfox {
    width: 221px;
  }
  .footer__social {
    padding-top: 13px;
  }
  .Companyinfo {
    padding-top: 14px;
  }
  .AboutUs {
    grid-row-start: 7;
  }

  .Features {
    grid-row-start: 11;
    padding-top: 21px;
  }
  .Resources {
    padding-top: 21px;
  }

  .Carrier {
    grid-row-start: 8;
  }
  .Wearehiring {
    grid-row-start: 9;
  }
  .Blog {
    grid-row-start: 10;
  }
  .BusinessMarketing {
    grid-row-start: 12;
  }
  .UserAnalytic {
    grid-row-start: 13;
  }
  .LiveChat {
    grid-row-start: 14;
  }
  .UnlimitedSupport {
    grid-row-start: 15;
  }
  /* .IOSAndroid {
    grid-row-start:;
  }
  .WatchaDemo {
    grid-row-start: ;
  }
  .Customer {
    grid-row-start: ;
  }
  .API {
    grid-row-start: ;
  } */

  .authors {
    height: 98px;
  }
  .authors > h6 {
    width: 212px;
    margin: auto auto;
    letter-spacing: -0.2px;
  }
}
/* line-height*/
@media (min-width: 631px) and (max-width: 1060px) {
  .container {
    width: 630px;
  }
  h1 {
    font-size: 48px;
    width: 410px;
    margin: 70px 0 0;

    line-height: 57px;
    letter-spacing: 1.2px;
    padding-top: 17px;
  }
  h6 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
  h5 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  .first-page {
    background-position: center;
  }
  header {
    grid-template-columns: 10fr 8fr 2fr;
    padding-top: 22px;
  }
  .iteams li {
    padding-right: 16px;
  }
  .lupa {
    padding-left: 15px;
    padding-top: 40px;
  }
  .cart {
    padding-left: 2px;
    padding-top: 40px;
  }
  .icon-lupa {
    width: 20px;
    height: 20px;
  }
  .icon-cart {
    width: 20px;
    height: 20.4px;
  }

  .first-page h4 {
    width: 337px;
    font-size: 18px;
  }

  .second-page__blocks {
    grid-template-columns: 304px 304px;
    margin: 0 auto;
    margin-top: 23px;
  }

  .second-page__h2 {
    letter-spacing: -0.8px;
    text-align: center;

    margin-top: 97px;
  }

  div.second-page__text {
    margin: 0 auto;
    text-align: center;
    width: 500px;
    letter-spacing: -0.3px;
  }

  .second-page__buttons {
    margin: 40px auto 0;
  }
  .third-page {
    height: 1200px;
  }
  .grid__third-page {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "h2"
      "text"
      "video"
      "other";

    margin: 0 auto;
  }
  div.third-page__text > p {
    margin-bottom: 23px;
  }
  .video {
    margin: 20px auto 0;
  }
  div.other__h2 {
    margin-left: 56px;
  }

  div.other__text > p {
    color: #ffffff;
    margin: 0px auto;
    width: 467px;
  }
  div.other__text {
    margin-bottom: 30px;
  }
  div.other__elem1,
  div.other__elem2 {
    display: grid;
    width: 366px;
    margin: 0 auto;
  }

  div.other__elem2 h6 {
    margin-top: 10px;
    font-weight: 500;
  }
  div.other__elem1 h6 {
    margin-top: 10px;
    font-weight: 500;
  }
  div.other__elem2 {
    margin-top: 42px;
  }
  .fourth-page {
    height: 1207px;
  }
  .grid__fourth-page {
    grid-template-columns: 1fr;
  }
  div.fourth-page__cards {
    grid-template-columns: 1fr;
    padding-top: 40px;

    grid-row-gap: 44px;
  }
  div.fourth-page__cards > div {
    width: 520px;
    height: 291px;
    padding: 30px 60px;
  }
  div.fourth-page__cards > div.first-card,
  div.fourth-page__cards > div.second-card,
  div.fourth-page__cards > div.third-card {
    margin-left: 0px;
    margin: 0 auto;
  }
  .man_mobile {
    display: inline-block;
    left: -49px;
    top: -295px;
  }
  div.fourth-page__cards img {
    left: -47px;
    top: 20px;
  }

  .fifth-page {
    height: 927px;
  }
  .fifth-page > .container {
    height: auto;
    width: auto;
  }

  div.fifth-page__cards {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0px;
    padding-top: 43px;
    grid-row-gap: 45px;
  }
  div.fifth-page__cards > div.first-card,
  div.fifth-page__cards > div.second-card,
  div.fifth-page__cards > div.third-card,
  div.fifth-page__cards > div.fourth-card {
    margin: 0 auto;
    width: 267px;
    height: 302px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*does not work correctly*/
  }
  .desctope {
    display: none;
  }
  .first-card__img_mobile,
  .second-card__img_mobile,
  .third-card__img_mobile,
  .fourth-card__img_mobile {
    display: inline-block;
    margin-top: 0px;
  }
  div.fifth-page__cards h6 {
    margin: 5px auto 0;
  }
  div.fifth-page__cards h5 {
    margin: -4px auto 0;
  }
  div.fifth-page__cards p {
    width: 149px;
    margin: 10px auto 0;

    text-align: center;
  }
  .six-page {
    height: 669px;
  }
  .grid__six-page {
    grid-template-columns: 1fr;
    grid-template-areas: "h2" "text" "img";
  }

  .six-page > .container {
    height: auto;
  }
  .grid__six-page > img {
    padding-top: 20px;
    margin: 0 auto;
    width: 550px;
    height: 225px;
  }
  .grid__six-page > h2 {
    width: 439x;
    margin: 0 auto;
    padding-top: 20px;
  }
  .grid__six-page > p {
    width: 600px;
    margin: 30px auto;
  }
  .seven-page {
    height: 1193px;
  }
  .seven-page .container {
    height: 1193px;
    width: 630px;
  }

  .quote-form {
    grid-template-columns: 1fr;
    top: 0px;
  }
  form {
    width: 630px;
    height: 701px;
  }
  .seven-page__quote-form img {
    width: 630px;
    height: 492px;
  }

  form > input[type="text"],
  form select {
    width: 530px;
  }
  form > input[type="submit"] {
    width: 530px;
  }
  .eight-page {
    height: 680px;
  }
  footer > .container {
    height: 582px;
    width: 730px;
  }
  .grid__footer {
    grid-template-columns: 1fr 1fr;
    width: auto;
    grid-column-gap: 120px;
    padding-left: 52px;
  }
  .authors {
    height: 98px;
  }
  .authors > h6 {
    width: 212px;
    margin: auto auto;
    letter-spacing: -0.2px;
  }

  .Features {
    grid-column-start: 1;
    grid-row-start: 6;
    padding-top: 48px;
  }
  .Resources {
    padding-top: 48px;
    grid-column-start: 2;
    grid-row-start: 6;
  }

  .Carrier {
    grid-column-start: 2;
    grid-row-start: 3;
  }
  .Wearehiring {
    grid-column-start: 2;
    grid-row-start: 4;
  }
  .Blog {
    grid-column-start: 2;
    grid-row-start: 5;
  }
  .BusinessMarketing {
    grid-column-start: 1;
    grid-row-start: 7;
  }
  .UserAnalytic {
    grid-column-start: 1;
    grid-row-start: 8;
  }
  .LiveChat {
    grid-column-start: 1;
    grid-row-start: 9;
  }
  .UnlimitedSupport {
    grid-column-start: 1;
    grid-row-start: 10;
  }
  .IOSAndroid {
    grid-column-start: 2;
    grid-row-start: 7;
  }
  .WatchaDemo {
    grid-column-start: 2;
    grid-row-start: 8;
  }
  .Customer {
    grid-column-start: 2;
    grid-row-start: 9;
  }
  .API {
    grid-column-start: 2;
    grid-row-start: 10;
  }
  .quickfox {
    margin: auto 0;
  }
  ul.footer__social {
    align-self: center;
  }
}
