@media (max-width: 425px) {
  * {
    max-width: 414px;
  }
  .container {
    width: 344px;
  }
  h1 {
    font-size: 36px;
    width: 292px;
    margin: 0;
    text-align: center;
    line-height: 57px;
    padding-left: 21px;
    letter-spacing: 1.2px;
    padding-top: 3px;
  }
  h6 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
  h5 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }
  .nav-toggle {
    display: block;
  }

  header {
    grid-template-columns: 10fr 8fr;
  }
  .lupa {
    padding-left: 15px;
    padding-top: 40px;
  }
  .cart {
    padding-left: 2px;
    padding-top: 40px;
  }
  .icon-lupa {
    width: 24px;
    height: 24px;
  }
  .icon-cart {
    width: 24px;
    height: 22.4px;
  }
  .menu {
    display: none;
  }
  .nav-toggle:hover .menu {
    display: flex;
  }
  .nav-toggle:active .menu {
    display: block;
  }
  .desctope {
    display: none;
  }
  .mobile {
    display: block;
  }
  .first-page h4 {
    width: 279px;
    text-align: center;
    padding-left: 27px;
  }
  .grid__first-page {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .first-page {
    height: 709px;
    background-image: url(pictures1/backmob.png);
    background-position-y: bottom;
  }
  .first-button {
    margin-left: 77px;
    margin-bottom: 25px;
  }
  .second-button {
    margin-left: 92px;
  }
  .first-page_buttons {
    display: grid;
    grid-template-columns: 1fr;
  }

  h1,
  h2,
  h3,
  h4 {
    word-wrap: break-word;
  }

  .second-page__blocks {
    grid-template-columns: 328px;
    margin: 0 auto;
    margin-top: 15px;
  }
  .second-page__blocks > div {
    margin: 0;
    margin-bottom: 30px;
  }
  .second-page {
    height: 1442px;
  }
  .second-page__h2 {
    letter-spacing: -0.8px;
    margin-left: 7px;
    width: 245px;
    margin-top: 97px;
  }
  div.second-page__text > p {
    font-size: 15px;
    margin-left: 7px;
    width: 225px;
    letter-spacing: -0.3px;
  }
  .second-page__buttons {
    margin-top: 10px;
  }
  .second-page__first-button {
    margin-left: 2px;
    margin-bottom: 30px;
  }
  .second-page__second-button {
    margin-left: 2px;
  }
  .third-page {
    height: 1493px;
  }
  .grid__third-page {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "h2"
      "text"
      "video"
      "other";
    max-height: 1493px;
    margin: 0 auto;
  }
  .plyr {
    margin-left: 3px;
    width: 333px;
    height: 442px;
  }
  .plyr__poster {
    background-size: auto;
  }

  .third-page__h2 h2.desctop {
    display: none;
  }
  .third-page__h2 {
    width: 308px;
  }
  .third-page__h2 h2 {
    margin: 0;
  }
  div.third-page__text > p {
    width: 225px;
    margin: 0;
  }
  div.third-page__text {
    margin: 0 auto;
    width: auto;
  }
  .fourth-page {
    height: 1767px;
  }
  .fourth-page .container {
    height: auto;
  }
  .grid__fourth-page {
    grid-template-columns: 1fr;
  }
  div.fourth-page__h2 {
    width: 227px;
    margin: 0 auto 0;
  }
  div.fourth-page__text > p {
    width: 262px;
    text-align: center;
  }
  div.fourth-page__cards {
    grid-template-columns: 1fr;
    padding-top: 0px;

    grid-row-gap: 20px;
  }
  div.fourth-page__cards > div {
    width: 325px;
    height: 408px;
  }
  div.fourth-page__cards > div.first-card,
  div.fourth-page__cards > div.second-card,
  div.fourth-page__cards > div.third-card {
    margin-left: 58.5px;
  }
  .man_mobile {
    display: inline-block;
    left: -20px;
    top: -10px;
  }
  .fifth-page {
    height: 1627px;
  }
  .fifth-page > .container {
    height: auto;
  }
  div.grid__fifth-page > h2 {
    margin-top: 0px;
    letter-spacing: 0.1px;
  }
  div.fifth-page__cards {
    grid-template-columns: 1fr;

    grid-row-gap: 30px;
    padding-top: 0px;
  }
  div.fifth-page__cards > div.first-card,
  div.fifth-page__cards > div.second-card,
  div.fifth-page__cards > div.third-card,
  div.fifth-page__cards > div.fourth-card {
    margin: 0 auto;
    width: 331px;
    height: 291px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  

  .desctope {
    display: none;
  }
 
  /*
  8
  *
  8
  8
  8
  */
  .seven-page__quote-form img {
    width: 414px;
  height: 259px;
}
/* line-height*/
